<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Fitness</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Goals</display-name>
    <servlet-name>Goals</servlet-name>
    <servlet-class>Goals</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Goals</servlet-name>
    <url-pattern>/Goals</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reports</display-name>
    <servlet-name>Reports</servlet-name>
    <servlet-class>Reports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reports</servlet-name>
    <url-pattern>/Reports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadReports</display-name>
    <servlet-name>DownloadReports</servlet-name>
    <servlet-class>DownloadReports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadReports</servlet-name>
    <url-pattern>/DownloadReports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSignup</display-name>
    <servlet-name>UserSignup</servlet-name>
    <servlet-class>UserSignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSignup</servlet-name>
    <url-pattern>/UserSignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  
  
</web-app>