body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  padding: 30px;
  
}

.card {
  
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}


.app-header {
		    background-color: #282c34;
		    padding: 20px;
		    color: white;
		    text-align: center;
		}
		
		.fa-brands {
			padding: 6.5px;
			
		}


