body {
            font-family: Arial, sans-serif;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            display: flex;
            margin: 5%;
            align-items: center;
        }
        
        .container2 {
            display: flex;
            margin: 10%;
            align-items: center;
        }

        .rounded-image {
			height: 200px;
            border-radius: 60%;
            overflow: hidden;
            margin-right: 20px; /* Adjust the spacing between image and text */
        }
        
         .rounded-image2 {
			height: 200px;
            border-radius: 60%;
            overflow: hidden;
            margin-left: 20px; /* Adjust the spacing between image and text */
            
        }

        .rounded-image img {
            height: auto;
            display: block;
        }
        
        .app-header {
		    background-color: #282c34;
		    padding: 20px;
		    color: white;
		    text-align: center;
		}

        .text-container {
            width: 600px; /* Adjust the maximum width of the text container */
            background-color: #81c5b3;
            border-radius: 0% 10% 0% 10%;
            padding-left: 3%;
        }
        
        .text-container2 {
            width: 600px; /* Adjust the maximum width of the text container */
            background-color: #81c5b3;
            border-radius: 10% 0% 10% 0%;
            padding-left: 3%;
        }
        
        .fa-brands {
			padding: 6.5px;
		}
        
        p {
			font-family: 'Roboto Condensed', sans-serif;	
		}
		
		h2 {
			background-color: #4d8f7f;	
		}